<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><h2 class="footer-heading">{{ site.title }}</h2></li>
          <li><p>"Professionals Serving Professionals"</p></li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <!-- <p>{{ site.description }}</p> -->
        <iframe src="{{site.map_source}}" width="300" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>

  </div>

</footer>
