/**
 * Contact Us
 */
.contact-form{
    input[type="submit"] {
        display: block;
        padding: 5px 10px;
        border-radius: 12px;
        border: none;
        width: 50%;
        background-color: $allpro-red;
        font-size: 12px;
        letter-spacing: 1px;
        color: #ffffff;
        cursor: pointer;
        margin: 0 auto;
    }

    .contact-field {
        label {
            display: block;
            margin-bottom: 8px;
        }

        .contact-form {
            width: 100%;
            border: 1px solid $grey-color;
            border-radius: 2px;
            padding: 8px;
            font-size: 14px;
            font-family: "museo-slab", "Helvetica", sans-serif;

            @include media-query($on-laptop) { width: 95%; }
        }

        select.contact-form {
            border: 0;
            outline: 1px solid #CCC;
            background-color: white;
            height: 34px;

            @include media-query($on-laptop) { width: 95%; }
        }

        textarea.contact-form {
            display: block;
            resize: none;
            overflow: auto;

            @include media-query($on-laptop) { width: 95%; }
        }
    }
}

/**
 * Quotes
 */
.quotes-form{
    input[type="submit"] {
        display: block;
        padding: 5px 10px;
        border-radius: 12px;
        border: none;
        width: 50%;
        background-color: $allpro-red;
        font-size: 12px;
        letter-spacing: 1px;
        color: #ffffff;
        cursor: pointer;
        margin: 0 auto;
    }

    .quotes-field {
        label {
            display: block;
            margin-bottom: 8px;
        }

        .quotes-form {
            width: 100%;
            border: 1px solid $grey-color;
            border-radius: 2px;
            padding: 8px;
            font-size: 14px;
            font-family: "museo-slab", "Helvetica", sans-serif;

            &.quotes-radio {
                width: auto;
                display: inline-block;
                padding: 10px;
                border: 0;
                border-top: 1px solid $grey-color;
                border-bottom: 1px solid $grey-color;
            }

            @include media-query($on-laptop) { width: 95%; }
        }

        select.quotes-form {
            border: 0;
            outline: 1px solid #CCC;
            background-color: white;
            height: 34px;

            @include media-query($on-laptop) { width: 95%; }
        }

        textarea.quotes-form {
            display: block;
            resize: none;
            overflow: auto;

            @include media-query($on-laptop) { width: 95%; }
        }
    }
}